<p id="notice"><%= notice %></p>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
       <h4 class="mb-3">Товары</h4>
      <div class="card">
        <div class="card-header">
          <%= link_to new_item_path, class: 'btn btn-primary' do %>
            <span class="material-icons button-icon">add</span> Добавить
          <% end %>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Артикул</th>
                <th>Название</th>
                <th>Описание</th>
                <th colspan="1"></th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
                <tr>
                  <td><%= item.sku %></td>
                  <td>
                    <%= link_to item do %>
                      <%= item.name %>
                    <% end %>
                  </td>
                  <td><%= item.description %></td>
                  <td class="px-4">
                    <%= button_to item, method: :delete, class: 'btn btn-table-button btn-del-button py-2 px-2', title: 'Удалить', data: { confirm: 'Вы уверены что хотите удалить товар?' } do %>
                      <span class="material-icons btn-table-icon">clear</span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

