<div class="container mt-4">
  <div class="row">
    <div class="col-12">

      <h4 class="mb-3"><%= @item.name %></h4>
      <div class="card">
        <div class="card-header">
          <%= link_to items_path, class: 'btn btn-secondary' do %>
            <span class="material-icons button-icon">chevron_left</span> Назад
          <% end %>
          <%= link_to edit_item_path(@item), class: 'btn btn-primary' do %>
            <span class="material-icons button-icon">edit</span> Редактировать
          <% end %>
        </div>
        <div class="card-body pb-0">
          <p><strong>Артикул WB:</strong> <%= @item.sku %></p>
          <p><strong>Описание:</strong> <%= @item.description %></p>
        </div>
      </div>

      <h5 class="mt-4 mb-2">Ключевые слова</h5>
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#keywordModal">
            <span class="material-icons button-icon">add</span> Добавить
          </button>
        </div>
        <div class="card-body">
          <% @keywords_data.each do |keyword, keyword_data| %>
            <div class="card mb-2">
              <div class="card-header item-keyword-header py-2 px-2" data-toggle="collapse" data-target="#keyword-<%= keyword %>">
                <span class="material-icons expand-icon expand-down">expand_more</span>
                <span class="material-icons expand-icon expand-up">expand_less</span>
                 <%= keyword %>
              </div>
              <div id="keyword-<%= keyword %>" class="card-body collapse">
                <% if keyword_data.any? %>
                  <% keyword_data.each do |keyword_date, keyword_pos| %>
                    <div><%= keyword_date.strftime("%d.%m.%Y %H:%M:%S") %>: <%= keyword_pos %></div>
                  <% end %>
                <% else %>
                  <div>Нет данных</div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render 'add_keyword_modal' %>