<nav class="navbar navbar-light bg-white mb-4">
  <div class="container-fluid">
    <div class="mr-auto">
      <%= link_to items_path, class: 'btn btn-secondary' do %>
        <span class="material-icons toolbar-button-icon">chevron_left</span> <span class="d-none d-lg-inline">Назад</span>
      <% end %>
      <%= link_to edit_item_path(@item), class: 'btn btn-primary ml-1' do %>
        <span class="material-icons toolbar-button-icon">edit</span> <span class="d-none d-lg-inline">Редактировать</span>
      <% end %>
    </div>
    <%= render '/layouts/system/mobile_menu_button' %>
  </div>
</nav>
<%= render '/layouts/system/flashes' %>

<div class="content-container">
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4 class="mb-3"><%= @item.name %></h4>
      <div class="card simple-shadow border-0">
        <div class="card-body d-flex align-items-top">
          <div class="d-inline-block">
            <img src="<%= @item.preview_url %>" style="max-height:160px;">
          </div>
          <div class="d-inline-block pl-5">
            <p><strong>Артикул WB:</strong> <%= @item.sku %></p>
            <p><strong>Бренд:</strong> <%= @item.brand_name %></p>
            <p><strong>Описание:</strong> <%= @item.description %></p>
          </div>
        </div>
      </div>

      <h5 class="mt-4 mb-3">Ключевые слова</h5>
      <div class="card simple-shadow border-0 mb-4">
        <div class="card-header">
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#keywordModal">
            <span class="material-icons button-icon">add</span> Добавить
          </button>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#keywordModal">
            <span class="material-icons button-icon">format_list_bulleted</span> Добавить списком
          </button>
        </div>
        <div class="card-body">
          <% @result_keywords.each do |keyword| %>
            <div class="card mb-4">
              <div class="card-header item-keyword-header py-2">
                <div class="row align-items-center">
                  <div class="ml-auto col-9">
                  <strong><%= keyword.name %></strong>
                  </div>
                  <div class="mr-auto text-right col-3 pr-1">
                    <%= button_to del_item_keyword_path(keyword_id: keyword.id), method: :delete, class: 'btn btn-table-button btn-del-button py-2 px-2', title: 'Удалить', data: { confirm: "Удалить ключевое слово \"#{keyword.name}\"?" } do %>
                      <span class="material-icons btn-table-icon">clear</span>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="card-body p-0">
                <% if keyword.positions.any? %>
                  <%= line_chart keyword.positions.map { |key, val| [key.strftime("%d.%m"), val] }, width: "100%", height: "300px", label: "Позиция", colors: ["#1976d2", "#666"] %>
                  <table class="table mt-1 table-sm table-positions text-center mb-2 mt-3">
                  <tbody>
                    <tr class="table-positions-tr-head">
                      <% keyword.positions.each do |keyword_date, keyword_position| %>
                        <td>
                          <div class="table-positions-tr-head-date"><%= keyword_date.strftime("%d.%m") %></div>
                          <div class="table-positions-tr-head-time"><%= keyword_date.strftime("%H:%M") %></div>
                        </td>
                      <% end %>
                    </tr>
                    <tr class="table-positions-tr-body">
                      <% keyword.positions.each do |keyword_date, keyword_position| %>
                      <td>
                        <%= keyword_position[0] %>
                        <span class="keyword-position">
                          <% if keyword_position[1].positive? %>
                            <% keyword_position[1] = "+#{keyword_position[1]}"%>
                            <span class="material-icons material-icons-positive">arrow_upward</span><span class="keyword-position-label keyword-position-label-positive"><%= keyword_position[1] %></span>
                          <% elsif keyword_position[1].negative? %>
                            <span class="material-icons material-icons-negative">arrow_downward</span><span class="keyword-position-label keyword-position-label-negative"><%= keyword_position[1] %></span>
                          <% end %>
                        </span>
                      </td>
                      <% end %>
                    </tr>
                  </tbody>
                  </table>
                <% else %>
                  <div class="p-4">Нет данных</div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%= render '/layouts/forms/add_keyword_modal' %>