<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>McollectorApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
      <div class="container">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= image_tag('logo.png', class: 'header-logo') %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <% if user_signed_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'Товары', items_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Ключевые слова', keywords_path, class: 'nav-link' %>
            </li>
          </ul>
          <% end %>
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <%= current_user.email %>
              </a>
              <div class="dropdown-menu">
                <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                  <span class="material-icons main-dropdown-icon">account_circle</span> Профиль
                <% end %>
                <div class="dropdown-divider"></div>
                <%= button_to destroy_user_session_path, method: :delete, class: 'dropdown-item dropdown-button-link' do %>
                  <span class="material-icons main-dropdown-icon">logout</span> Выход
                <% end %>
              </div>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to 'Войти', new_user_session_path, class: 'nav-link mx-4' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Регистрация', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash.any? %>
      <div class="container mt-2">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-info alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, id: 'flash_#{name}' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
